<ion-modal-view >
    <ion-header-bar>
        <h1 class="title">Detail</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
            <div ng-repeat="item in singleuser">
                <img ng-src="{{item.ImageURl== null && 'https://parature.webfortis.com/WebMobile/img/user.png' ||'https://parature.webfortis.com/WebMobile/img/UserPic/'+item.SystemUserId+'.jpg' }}">
                <div class="item">
                    First Name : {{item.FirstName }} {{item.LastName}}<br />
                    Title :  {{item.Title}}
                </div>
            </div>
        </div>
        </ion-content>
</ion-modal-view>
